<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.AppProject.otp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:usesCleartextTraffic="true" android:theme="@style/MainTheme" android:label="otp.Android" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBgYmOXQDyLxhk3YjxeD0aDahl5EILRoC0" />
		<!-- Replace the below line with the correct version of Google Play services -->
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>